body{

background:#111827;

color:white;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

text-align:center;

}

button{

background:#2563eb;

color:white;

padding:20px 40px;

font-size:22px;

border:none;

border-radius:15px;

cursor:pointer;

}

button:hover{

background:#1d4ed8;

}
